body {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0 auto;
}

#main {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main h1 {
  font-size: 3rem;
}

#main h2 {
  font-weight: 400;
  font-size: 2rem;
}

footer {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 564px) {
  #main h1 {
    font-size: 2.5rem;
  }

  #main h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 426px) {
  #main h1 {
    font-size: 2rem;
  }

  #main h2 {
    font-size: 1rem;
  }
}