body {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color: white;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

main {
  height: 90%;
  position: relative;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  line-height: 1.5em;
  /* @media screen and (min-width: 480px) and (max-width: 1275px) {
    
  } */
}

.main-text h2 {
  font-weight: 400;
}

footer {
  height: 10%;
  position: relative;
}

#footer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1018px) and (max-width: 1275px) {
  .main-text {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 950px) and (max-width: 1017px) {
  .main-text {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 845px) and (max-width: 949px) {
  .main-text {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 720px) and (max-width: 844px) {
  .main-text {
    font-size: 1em;
  }
}

@media screen and (min-width: 598px) and (max-width: 719px) {
  .main-text {
    font-size: .9em;
  }
}

@media screen and (min-width: 300px) and (max-width: 597px) {
  .main-text {
    font-size: .8em;
  }
}